*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/wallpaperpc_projetofinal.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}
.cabecalio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 12vh;
    border: 2px solid black;
}
.menu{
    margin: 20px;
}
.menu svg{
    width: 50px;
    height: 80px;
}
.nomeUsuario{
    margin: 20px;
}

.logOFF{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: none;
    border: none;
}
.logOFF svg{
    width: 50px;
    height: 40px;
    color: white;
}
.logOFF label{
    color: white;
    cursor: pointer;
}
.logOFF:hover{
    cursor: pointer;
}
.conteudoPagina{
    display: flex;
    height: 90vh;
}
.LateralEsquerda{
    background-color: rgb(31, 31, 31);
    width: 20%;
    margin: 0;
    border-top: none;
    border: 2px solid black;
    overflow: auto;
    padding: 20px 5px 0px 20px;
}

.CampodeMensagens{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 90vh;
    background: none;
    overflow: auto;
    padding: 5px 0px 0px 0px;

}
.MensagensENVIO{
    background-color: rgb(31, 31, 31);
    padding: 20px 0px 20px 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SeuCommit{
    width: 90%;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
    font-size: 20px;
}
.EnviarCommit{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(248, 98, 43);
}

@media (max-width: 800px){
    .MensagemUsuario p{
        display: none;
    }
    .cabecalio{
        display: flex;
        justify-content: center;
    }
    .menu{
        position: absolute;
        left: 10px;
    }
    .logOFF{
        display: none;
    }
}