<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments! Cadastro</title>
    <link rel="stylesheet" href="stylesheets/Cadastro.css">
</head>
<body>
    <h1 class="TituloSite">Seja bem-vindo(a)!</h1>
        <section class="login">

            <div class="LoginInputs">

            <h2 class="textoBoasVindasLog2">Faça seu Cadastro!</h2>

            <input type="text" placeholder="Nome:" class="NomeUser"  id="NomeUser">

            <input type="text" placeholder="E-mail:" class="input_email"  id="input_email">

            <section class="senha">
                <input type="password" placeholder="Senha: " class="input_senha"  id="input_senha">
                <button class="revelaSenha" id="RevelarSenhaButton">
                <svg xmlns="http://www.w3.org/2000/svg" id="Iconezoio" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                </button>
            </section>

            <input type="text" placeholder="Confirmar senha:" class="ConfirmSenha"  id="ConfirmSenha">

            <button class="botaoCriarConta" id="botaoCriarConta">Vamos Começar!</button>
            </div>

        </section>

    <script src="/javascripts/JavitoCadastro.js"></script>
</body>
</html>
