<!DOCTYPE html>
<html lang="pt-br">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <section class="login">
    <form action="" class="LoginInputs">

      <h1 class="textoBoasVindasLog">Nos visiando novamente?</h1>
      <h1 class="textoBoasVindasLog">Faça seu login:</h1>

      <input type="text" placeholder="E-mail:">

      <section class="senha">
        <input type="text" placeholder="Senha: ">
        <button class="revelaSenha">Click</button>
      </section>

      <button class="botaoLogin">Vamos Começar!</button>
    </form>

    <form action="" class="cadastro">
      <h1 class="TituloSite">Seja bem-vindo(a)!</h1>
      <h2 class="textoBoasVindas">É sua primeira vez nos visitando?<br>Faça um cadastro!</h2>

      <button class="botaoCadastro">Cadastrar-se</button>
    </form>
  </section>

  <script src="javascripts/JavitoLogin.js"></script>
</body>
</html>

